/* All styles goes here */


/* Header styles */

/* Calendar styles */

/* Basic css class to allow for card flip for each door */
.card-flip {
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.5s ease-out;
    transform: rotateY(180deg);
}

/* Footer styles */
