/* All styles goes here */

@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

/* background color */
#main-container {
  background-color: var(--primary-green) !important;
  color: antiquewhite;
}

/* Variables */
:root {
  --primary-red: #b62121;
  --primary-green: #17a317;
}

body {

    display: flex;
    flex-direction: column;
    font-family: "Crafty Girls", cursive, sans-serif !important;
    min-height: 100svh;
    min-height: 100vh;
}

/* Header styles */
header {
  background-color: var(--primary-red);
  color: white;
  text-align: center;
}

#main-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  background-image: url(../../images/trees.png);

  &::before{
      content: ""; 
      position: fixed; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      background-color: rgba( 	23, 163, 23, 0.2); /* Blue tint, 10% opacity */ 
      pointer-events: none; /* Ensure content is accessible */
  }
}

/* Timer Styles */

#timer {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 5px 5px 5px #444444;
  color: var(--primary-red);
}

/* Right aside styles */
.right-aside {
  width: 18%;
  height: 130px;
  margin: 10px;
}

/* Calendar styles */

.calendar-container {
  flex: 1;
  margin: 20px;
  align-self: center;
}

.card {
  margin-bottom: 32px;
  aspect-ratio: 1/1;
  
}

.card-header,
.card-body {
  background-color: var(--primary-green) !important;
  color: white !important;
}

.card-img-top{
  aspect-ratio: 1/1;
  object-fit: cover;
}

.child {
  color: aliceblue;
  background-color: var(--primary-red);
  border: solid 2px var(--primary-green);
}

.hidden {
  display: none !important;
}

/* style that highlights the current day in the calendar */
.todays-door {
  border: solid 2px var(--primary-red) !important;
}

/* Rule to apply the animation to the door */

.card-shake {
  animation: tilt-shaking 0.5s ease-in-out;
}

/* Animation for the shaking effect */

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Door styling for mobile screens and up */

#row-one {
  width: 30%;
}

#row-two {
  width: 45%;
}

#row-three {
  width: 60%;
}

#row-four {
  width: 75%;
}

#row-five {
  width: 100%;
}

#row-six {
  width: 100%;
}

#trunk {
  width: 75%;
}

.door-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.front{
  background-image: url(../../images/christmas-colour.webp);
}

.front > div {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.05);
box-sizing: content-box;
border-radius: 0.5rem;
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
height: 100%;
width: 100%;

align-content: center;
font-size: x-large;
font-weight: 600;
}

/* Footer styles */
footer {
  color: white;
  background-color: var(--primary-red);
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer div {
  margin-top: 15px;
  align-content: center;
}

.footer ul {
  list-style: none;
  column-count: 2;
  column-gap: 20px;
  padding: 0;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.5);
    text-decoration: underline;
  }
}

/* Calendar door styling for larger screens */

@media (min-width: 992px) {
  #row-one {
    width: 20%;
  }

  #row-two {
    width: 35%;
  }

  #row-three {
    width: 50%;
  }

  #row-four {
    width: 65%;
  }

  #row-five {
    width: 100%;
  }

  #row-six {
    width: 95%;
  }

  #trunk {
    width: 75%;
  }
}
