/* All styles goes here */

/* Variables */
:root {
  --primary-red: #b62121;
  --primary-green: #17a317;
}


body {
    font-family: fantasy, sans-serif !important;
}

/* Header styles */
header {
    background-color: var(--primary-red);
    color: white;
    padding: 10px;
    text-align: center;
}

#main-container {
    display: flex;
}

/* Timer Styles */

#timer {
    width: 220px;
    height: 130px;
    border: solid 2px var(--primary-green);
    margin: 10px;
}

/* Calendar styles */

.calendar-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card {
    margin-bottom: 32px;
    
}

.card:not(.card-flip){
    background-image: url("../../images/christmas-colour.webp");
}

.card:not(.card-flip) > .card-img-top,
.card:not(.card-flip) > .card-header,
.card:not(.card-flip) > .card-body
{
    visibility: hidden;
}

.child {
    color: aliceblue;
    background-color: var(--primary-red);
    border: solid 2px var(--primary-green);
}

.hidden {
    display: none;
}


.todays-door {
    background-color: var(--primary-green);
}

/* Basic css class to allow for card flip for each door */
.card-flip {
    transform-style: preserve-3d;
    position: relative;
    transition: all  0.5s ease-out;
    transform: rotateY(180deg);
}

/* Footer styles */
footer {
    color: white;
    background-color: var(--primary-red);
    /* position: sticky; */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    
}

.footer ul{
    list-style: none;
    column-count: 2; 
    column-gap: 20px;
    padding: 0;
}

.footer a {
        font-weight: 600;
        text-decoration: none; 
        color: inherit; 
        transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.5);
        text-decoration: underline;
    }
}

